<!-- form.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Form</title>
</head>
<body>
    <h2>Student Form</h2>
    <form th:action="@{/students/save}" th:object="${student}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <label>First Name: <input type="text" th:field="*{firstName}"/></label><br/>
        <label>Last Name: <input type="text" th:field="*{lastName}"/></label><br/>
        <label>Email: <input type="text" th:field="*{email}"/></label><br/>
        <input type="submit" value="Save"/>
    </form>
    <a href="/students">Back to Students</a>
</body>
</html>
